/*
Plugin Name: Nginx FastCGI Cache and Preload For Wordpress
Plugin URI: https://www.psauxit.com
Description: This plugin allows you to manage Nginx FastCGI cache and preload operations directly from your WordPress admin dashboard.
Version: 1.0
Author: Hasan ÇALIŞIR | hasan.calisir@psauxit.com
Author URI: https://www.psauxit.com
License: GPL2
*/
