/**
 * Styles for Nginx FastCGI Cache Purge and Preload
 * Description: This CSS file contains styles for the plugin.
 * Version: 1.0.1
 * Author: Hasan ÇALIŞIR
 * Author Email: hasan.calisir@psauxit.com
 * Author URI: https://www.psauxit.com
 * License: GPL-2.0+
 */

.logs-container {
  background-color: #000000;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  font-family: monospace;
  font-size: 12px;
}

.logs-container div {
  margin-bottom: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.error-line {
  color: #ff5252;
}

.normal-line {
  color: #bdbdbd;
}

.info-line {
  color: #bdbdbd;
}

.success-line {
  color: #64dd17;
}

.logs-container .timestamp {
  color: white;
}

.cursor {
  color: #FFFFFF;
  animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 782px) {
  .form-table th,
  .form-table td {
    display: block;
    width: 100%;
  }

  .form-table th {
    margin-top: 20px;
  }
}

.faq {
  margin-bottom: 20px;
}

.question {
  font-size: 15px;
  font-weight: bold;
  color: #007cba;
  padding: 15px 20px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.question::before {
  content: '\f534';
  font-family: 'dashicons';
  margin-right: 10px;
}

.question:hover {
  background-color: #e0e0e0;
}

.answer {
  display: none;
  padding: 20px;
  border-radius: 8px;
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.answer.active {
  display: block;
}

.question::after {
  content: '\f140';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font: normal 20px/1 'dashicons';
  color: #007cba;
  transition: transform 0.3s;
}

.active .question::after {
  transform: rotate(180deg);
}

.nginx-list {
  list-style-type: none;
  padding-left: 0;
}

.nginx-list li {
  margin-bottom: 10px;
}

.nginx-list li::before {
  content: "\2022";
  font-size: 1.5em;
  color: #0073e6;
  margin-right: 10px;
}

.nginx-reset-regex-button {
    margin-top: 10px !important;
}

.nginx-clear-logs-button {
    margin-top: 10px !important;
}
